@import "@/assets/styles/vars";

// Default settings of headlines, you only need to choose font size, line height and text color
@mixin default-headline($font-size, $line-height, $text-color) {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of paragraphs and spans, you only need to choose font size, line height and text color
@mixin default-text($font-size, $line-height, $text-color) {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of buttons, you only need to choose max-width, text-color and bg-color
@mixin default-btn($max-width, $text-color, $bg-color) {
  max-width: $max-width;
  width: 100%;
  padding: 10px;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
  border: 2px solid $color-black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  &:disabled {
    transform: none;
    filter: grayscale(50%);
    cursor: default;
  }
}

// Simple pulse animation for @sample mixin
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

// This mixin is needed for those gray blocks that appearing while some data is fetching
@mixin sample($width, $height, $border-radius) {
  width: $width;
  height: $height;
  background-color: $color-preload;
  border-radius: $border-radius;
  border: 2px solid $color-black;
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}
