@import "@/assets/fonts/Roboto-Bold/font-roboto-bold";
@import "@/assets/fonts/Roboto-Regular/font-roboto-regular";

// Fonts
$font-roboto: "Roboto";

// Colors
$color-header-bg: #f9cb9c;
$color-header-btn: #fce5cd;
$color-black: #000000;
$color-white: #ffffff;
$color-spinner-border: #f3f3f3;
$color-spinner-border-top: #3498db;

// Default checkpoints for adaptive
$pc-l: 1440px;
$pc-m: 1400px;
$pc-s: 1280px;
$laptop-l: 1024px;
$laptop-m: 960px;
$laptop-s: 864px;
$tablet-l: 768px;
$tablet-m: 640px;
$tablet-s: 576px;
$phone-l: 480px;
$phone-m: 360px;
$phone-s: 320px;
